{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,900&display=swap" rel="stylesheet">    <title>Document</title>
<script src="{% static 'index.js' %}"></script>
</head>
<body>
    <div class="menu">
        <div class="logo">
            <p class="big_word">AI</p>
            <p class="small_word">Doctor</p>
        </div>
        <ul>
            <li><a href="" id="home_button">home</a></li>
            <li><a href="" id="doctors_button">doctors</a></li>
            {% if username %}
            <li><a href="" id="username">{{ username }}</a></li>
            {% endif %}
            {% if sign %}
            <li><a href="{% url 'register' %}">Register</a></li>
            {% elif register %}
            <li><a href="{% url 'sign' %}">sign</a></li>
            {% else %}
            <li><a href="">logout</a></li>
            {% endif %}
        </ul>
        <a href="" class="join" id="join_button">join us as a doctor</a>
    </div>
    {% block main %}
    {% endblock %}
</body>
</html>